@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.dosis{
	font-family: 'Dosis', sans-serif;
}

.dancing{
	font-family: 'Dancing Script', cursive;
}
.bg-trans{
	background-color: rgba(252, 225, 117, 0.589);
}
.text-shadow {
  text-shadow: 1px 1px 1px black;
}
.title-shadow {
	text-shadow: 3px 3px 3px black;
}
